:root {
  --primary-color: #1888a5;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100%;
}

.text--white {
  color: #fff;
}

.text--aligned-center {
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
